# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore build outputs
build/
dist/
*.egg-info/
.eggs/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and caches
*.log
*.pot
*.pyc
*.pkl
*.db
*.sqlite3
*.cache/
.cache/
*.mypy_cache/
*.pytest_cache/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific settings
.vscode/
.idea/
*.swp
